

main {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 64px;
    padding-bottom: 64;
}

.main-title {
    text-align: center;
}

.main-section {
    background-color: aliceblue;
    border-radius: 4px;
    padding: 16px;
    width: 60%;
    margin: auto;
   
}

.section-celcius{
    padding-top: 16px;
}

.section-farenheit{
    padding-top: 16px;
}

.section-result{
    padding-top: 16px;
}

.section-explanation{
    padding-top: 16px;
}

textarea{
    width: 100%;
    height: 40px;
    resize: none;
    border: 2px solid lavender;
    border-radius: 4px;
    font-size: 16px;
    color: coral;
}

.formula{
    font-size: 18px;
}

.formula-s{
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
}

.formula-s>sub {
    font-style: normal;
}

.formula-s>span {
    font-style: normal;
}

.container-button{
    padding-top: 8px;
}

button {
    border: none;
    font-size: 14px;
    padding: 8px;
    border-radius: 4px;
    font-family: arial;
    
}


#button-convert {
    background-color: forestgreen;
    color: white;
    margin-right: 8px;
}

#button-convert:hover{
    background-color: #58b95b;
    color: white;
}

#button-reset {
    background-color: royalblue;
    color: white;
    margin-right: 8px;
}

#button-reset:hover{
    background-color: rgb(106, 134, 216);
    color: white;
}

#button-reverse {
    background-color: palevioletred;
    color: white;
    margin-right: 8px;
}

#button-reverse:hover {
    background-color: rgb(216, 145, 169);
    color: white;
}